<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Outlet Store</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- bower:js -->
	<script src="../public/lib/jquery/dist/jquery.js"></script>
	<script src="../public/lib/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.min.css" />
	<!-- endbower -->
	<!--inject:css-->
	<link rel="stylesheet" href="/css/styles.css">
	<!--endinject-->
	<!--inject:js-->
	<script src="/js/app.js"></script>
	<!--endinject-->
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">Home</a>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
                <% for(var i=0; i<nav.length;i++){%>
				<li><a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
                <%}%>
			</ul>
			<ul class="nav navbar-right navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
					<ul class="dropdown-menu" style="padding:12px;">
						<form class="form-inline">
							<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
						</form>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>

<div id="masthead">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1>Outlet Store
					<p class="lead"></p>
				</h1>
			</div>
			<div class="col-md-5">
				<div class="well well-lg">
					<div class="row">
						<div class="col-sm-12">


						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /cont -->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="top-spacer"> </div>
			</div>
		</div>
	</div><!-- /cont -->

</div>


<div class="container">
	<div class="row">

		<div class="col-md-12">

			<div class="panel">
				<div class="panel-body">



					<!--/stories-->
                    <% for(var i=0; i<items.length;i++){%>
					<div class="row">
						<br>
						<div class="col-md-2 col-sm-3 text-center">
							<a class="story-title" href="#"><img alt="" src="google.ro" style="width:100px;height:100px" class="img-circle"></a>
						</div>
						<div class="col-md-10 col-sm-9">
							<h3><%=items[i].name%></h3>
							<div class="row">

								<div class="col-xs-9">
									<p><span ><%=items[i].short_description%></span></p>
									<h4>
										<small style="font-family:courier,'new courier';" class="text-muted"><a href="<%=items[i]._id%>" class="btn btn-primary pull-right btnNext">Read More</a></small>
									</h4>
								</div>
								<div class="col-xs-3"></div>

							</div>
							<br><br>
						</div>
					</div>
					<hr>
                    <%}%>
					<!--/stories-->


					<a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


				</div>
			</div>



		</div><!--/col-12-->
	</div>
</div>


<hr>

<div class="container" id="footer">
	<div class="row">
		<div class="col col-sm-12">

			<h1>Follow Us</h1>
			<div class="btn-group">
				<a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
				<a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
				<a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
			</div>

		</div>
	</div>
</div>

<hr>

<hr>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-inline">
					<li><i class="icon-facebook icon-2x"></i></li>
					<li><i class="icon-twitter icon-2x"></i></li>
					<li><i class="icon-google-plus icon-2x"></i></li>
					<li><i class="icon-pinterest icon-2x"></i></li>
				</ul>

			</div>
			<div class="col-sm-6">
				<p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>